.container
  .row{style: "margin-top: 100px;"}
    .col-md-12{style: "text-align: center"}
      %h2
        %b 
          %p Parabéns! Você finalizou seu teste com sucesso!
  .row{style: "margin-top: 100px;"}
    .col-md-12{style: "text-align: center"}
      = link_to "Voltar", root_path, class: 'btn btn-success btn-lg'