.container
  .row{style: "margin-top: 100px;"}
    .col-md-12{style: "text-align: center"}
      %h1
        %b Selecione um grupo para iniciar!
  .row{style: "margin-top: 150px;"}
    .col-md-12{style: "text-align: center"}
      .col-md-4
        = link_to "Iniciar Grupo 1", name_path(group_id: 1), class: 'btn btn-success btn-lg'
      .col-md-4
        = link_to "Iniciar Grupo 2", name_path(group_id: 2), class: 'btn btn-success btn-lg'
      .col-md-4
        = link_to "Iniciar Grupo 3", name_path(group_id: 3), class: 'btn btn-success btn-lg'