.container
  .row{style: "margin-top: 100px;"}
    .col-md-12{style: "text-align: center"}
      %h2
        %b 
          %p A seguir você verá um conjunto de slides constituídos por três imagens. 
          %p Uma de um animal, uma de um objeto e uma de uma pessoa.
          %p Você deve apontar para a imagem do objeto para ganhar pontos.
          %p Ao final, você deve ter o maior número de pontos possível.
  .row{style: "margin-top: 100px;"}
    .col-md-12{style: "text-align: center"}
      = link_to "Iniciar Jogo!", game_play_path, class: 'btn btn-success btn-lg'